class {{ context["name"]}} extends uvm_reg;

  {% for field in context["fields"] %}
  rand uvm_reg_field {{ field["name"] }};
  {% endfor %}

  function new (string name = "{{ context["name"] }}" );
    super.new (name, {{ context.size }} , UVM_NO_COVERAGE);
  endfunction


    virtual function void build ();

  {% for field in context["fields"] %}
    this.{{ field["name"] }}   = uvm_reg_field::type_id::create ("{{ field["name"] }}");
    this.{{ field["name"] }}.configure (this, 
                                      {{ field["bitWidth"] }},
                                       0, 
                                       "{{ field["access"] }}", 
                                       0, 
                                       1'h0,
                                       1,
                                       1,
                                       1);
  {% endfor %}

  endfunction
endclass
 