class {{context["name"]}} extends uvm_reg_block;


  {% for reg in context["registers"] %}
  rand {{reg["name"]}} m_{{reg["name"]}};
  {% endfor %}




 
  function new (string name = "{{context["name"]}}");
    super.new (name, UVM_NO_COVERAGE);
  endfunction
 
  virtual function void build ();

  {% for reg in context["registers"] %}
    this.m_{{reg["name"]}}= {{reg["name"]}}::type_id::create ("m_{{reg["name"]}}", , get_full_name);
    this.m_{{reg["name"]}}.configure (this, null, "");
    this.m_{{reg["name"]}}.build();
  {% endfor %}


 
    this.default_map = create_map ("", 0, 4, UVM_LITTLE_ENDIAN, );
    this.default_map.set_base_addr({{ context["baseAddress"] }});

 {% for reg in context["registers"] %}
   this.default_map.add_reg (this.m_{{reg["name"]}},                         `UVM_REG_ADDR_WIDTH{{reg["addressOffset"]}}, 
                              "RW", 
                              0);
  {% endfor %}


  endfunction
endclass